<!doctype html>
<html lang="ja">

{% extends "layout.html" %}
{% block content %}

    <script type="text/javascript">
    $(function() {

        $("#answerBtn").click(function() {
            $("#answer").css("display", "block");
            $("#nextBtn").css("display", "block");
        });
    })
</script>

<div class="border m-3">
<h1 class="m-2">Python 練習</h1>
    <div class="row border m-3">
        <p class="m-3">
            {{ lesson.question }}
        </p>
    </div>
    <div class="row m-3">
        <div><button id="answerBtn" type="button" class="btn btn-outline-primary mr-3" style="width: 150px;">回答を表示</button></div>
        <div><a href="/" id="nextBtn" role="button"  class="btn btn-primary" style="width: 150px; display: none;">次</a></div>
    </div>
    <div class="row border m-3" id="answer" style="display: none;" >
    <pre class="m-2"><code>{{ lesson.answer | safe }}</code></pre>
    </div>
</div>

{% endblock %}

</html>